{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ELAIZA CRAFT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <header>
      <div>
        <div class="navnav">
              <div class="nav-item">
                <a href="/">
                <img class="navbar-brand logos" src="{% static 'img/logo.jpg' %}">
                </a>
              </div>
              <div class="nav-item">
                  <a class="nav-link" href="{% url 'service' %}">施工 </a>
              </div>
              <div class="nav-item">
                  <a class="nav-link" href="{% url 'price' %}">料金</a>
              </div>
              <div class="nav-item">
                  <a class="nav-link" href="{% url 'calendar' %}">予約</a>
              </div>
              <div class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">日記</a>
              </div>
              <div class="nav-item">
                <a class="nav-link " href="{% url 'contact' %}">配信</a>
              </div>
        </div>
      </div>
        <div class="top-image">
          {% block top-image %}
          {% endblock %}
        </div>
      </div>
    </header>

    <main>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>   
    </main>

    <footer class="footer text-center">
      <div class="container">
          <div class="row">
              <!-- Footer Location-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">company</h4>
                  <p class="lead mb-0">
                      ELAIZA CRAFT
                      <br />
                      coating shop
                  </p>
              </div>
              <!-- Footer Social Icons-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">CONTACT</h4>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fab fa-instagram"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fab fa-youtube"></i></a>
              </div>
              <!-- Footer About Text-->
              <div class="col-lg-4">
                  <h4 class="text-uppercase mb-4">CREATE by RYUSEI</h4>
                  <p class="lead mb-0">
                    Used Bootstrap and Django.</p>
                  <p class="lead mb-0">
                    Copyright ©️ RYUSEI KUNIMI</p>
              </div>
          </div>
      </div>
  </footer>
  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright © ELAIZA CRAFT</small></div>
  </div>

    {% block extra_js %}
    {% endblock %}
</body>

</html>