{% extends "app/base.html" %}

{% load static %}

{% block top-image %}
<img src="{% static 'img/blog.jpg' %}">
{% endblock %}

{% block content %}

<div class="row my-4">
  <div class="col-md-8">
      {% for post in post_data %}
      <div class="card mb-4 index">
          {% if post.image %}
              <img class="card-img-top index-img" src="{{ post.image.url }}" alt="">
          {% endif %}
          <div class="card-body">
              <h2 class="card-title text-center">{{ post.title }}<span class="small text-success"> - {{ post.category }}</span></h2>
              <p class="card-text text-center">{{ post.content|truncatechars:100 }}</p>
              <div class="btn btn-info btn-lg btn-block">詳細</div>
          </div>
          <div class="card-footer text-success">
              {{ post.created|date }} by {{ post.author }}
          </div>
          <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
      </div>
      {% endfor %}
  </div>

  <div class="col-md-4">
      <div class="card">
          <h5 class="card-header">ELAIZA BLOGS</h5>
          <div class="card-body">
              <p class="mb-0">
                  このブログではELAIZA CRAFTの活動をまとめて日記形式でお届けいたします。
                  このほかにも各種SNSでも活動を更新していきます。
              </p>
          </div>
      </div>

      <div class="card my-4">
          <h5 class="card-header">カテゴリ</h5>
          <div class="card-body">
              <div class="row">
                  {% for category in category_data %}
                      <div class="col-md-6">
                          <ul class="list-unstyled">
                              <li>
                                  <a href="{% url 'category' category %}">
                                      {{ category.name }}
                                  </a>
                              </li>
                          </ul>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>

      <div class="card">
        <h5 class="card-header">SNS</h5>
        <div class="card-body">
          <a class="btn btn-info btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
          <a class="btn btn-info btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
          <a class="btn btn-info btn-social mx-1" href="#!"><i class="fab fa-fw fab fa-instagram"></i></a>
          <a class="btn btn-info btn-social mx-1" href="#!"><i class="fab fa-fw fab fa-youtube"></i></a>
        </div>
      </div>
  </div>
</div>

{% endblock %}