{% extends "app/base.html" %}

{% load static %}

{% block top-image %}
<img src="{% static 'img/black_bmw.jpg' %}">
{% endblock %}

{% block content %}
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">SNSコンテンツ</h3>
      <h2 class="mb-5" id="contact_size">北海道から全国の車好きへ</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Facebook</div>
              <p class="mb-0">車が大好きなら誰でも無料で参加できるオンラインサロンを開設しています。
              </p>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'img/facebook.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Twitter</div>
              <p class="mb-0">ELAIZA CRAFTのお知らせやキャンペーン情報を配信しています。</p>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'img/twitter.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Instagram</div>
              <p class="mb-0">施工したお車を沢山あげていきます。インスタライブもやってます。</p>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'img/instagram.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#!">
          <div class="caption">
            <div class="caption-content">
              <div class="h2">Youtube</div>
              <p class="mb-0">車についての雑談や洗車のコツなどを配信しています。</p>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'img/youtube_top.jpg' %}" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}