{% extends "app/base.html" %}

{% load static %}

{% block top-image %}
<img src="{% static 'img/bmw.jpg' %}">
{% endblock %}

{% block content %}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" id="services_h2">－美しいほどの輝きを－</h2>
            <h3 class="section-subheading text-muted" id="services_h3">ELAIZA CRAFTは厚別区を拠点とする学生向けのコーティング店です</h3>
        </div>
        <div class="row text-center" id="index-midle">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-info"></i>
                    <i class="fas fas fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">高級手洗い洗車</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-success"></i>
                    <i class="fab fa-buffer fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">高級コーティング</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-check-double fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">研磨・下地処理</h4>
            </div>
        </div>
    </div>
    </section>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" id="kodawari">最高級を最安値で</h2>
            <h3 class="section-subheading text-muted">学生時代の思い出に美しい車を</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/wash.jpg' %}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <a href="{% url 'wash' %}">
                        <div class="portfolio-caption-heading">高級洗車</div>
                        <div class="portfolio-caption-subheading text-muted">car wash</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/porsche.jpg' %}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <a href="{% url 'coating' %}">
                        <div class="portfolio-caption-heading">コーティング</div>
                        <div class="portfolio-caption-subheading text-muted">coating</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/polishing.jpg' %}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <a href="{% url 'polishing' %}">
                        <div class="portfolio-caption-heading">研磨</div>
                        <div class="portfolio-caption-subheading text-muted">polishing</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/kuruma.jpg' %}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <a href="{% url 'diagnosis' %}">
                        <div class="portfolio-caption-heading">事前診断</div>
                        <div class="portfolio-caption-subheading text-muted">diagnosis</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/aiaiaiai.jpg' %}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <a href="{% url 'program' %}">
                        <div class="portfolio-caption-heading">AIのたつおくん</div>
                        <div class="portfolio-caption-subheading text-muted">AI program</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/elaiza_logo.jpg' %}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <a href="{% url 'campany' %}">
                        <div class="portfolio-caption-heading">会社概要</div>
                        <div class="portfolio-caption-subheading text-muted">Co.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}