{% extends "app/base.html" %}

{% load static %}

{% block top-image %}
<img src="{% static 'img/ferari.jpg' %}">
{% endblock %}

{% block content %}
<div class="full-body">
  <section class="page-section1" id="page-section12">
    <div class="container1">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded" id="otemoti">
            <h2 class="section-heading mb-0" >
              <span class="section-heading-upper">お手持ちのデバイスで簡単予約</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/yoyaku.jpg' %}" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">お客様がお持ちのスマートフォン、タブレット、パソコンなどネットにアクセスできる端末であれば簡単にこちらのサイトから予約ができます。
            予約の流れとしては、<br>
            ①メニューバーの料金システムを押す。<br>
            ②AIによる質問に答える。<br>
            ③大まかな料金が出るので良ければそのまま予約ボタンを押す。<br>
            ④お好きな日時を選択して完了です。<br>
            尚、料金につきましてはおおよそですので実際の現車確認をしてから正確な金額が決まります。
            ただ基本的にはAIの出した金額ぐらいだと思っていただいて大丈夫です。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="page-section1">
    <div class="container1">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded" id="gare-ji">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">店舗にて愛車メンテシートを記入していただきます
              </span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/carwash.jpg' %}" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">ご来店時にお車の状態を確認します。<br>
            ボディーの状態に合わせて最適なプランをご提案致します。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="page-section1">
    <div class="container1">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded" id="kessai">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">施工後の決済について</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/cash.jpg' %}" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">当店は安心の後払い制となっています。施工後に現金またはクレジットカードでのお支払いが可能です。領収書が必要な方はお会計の際にお申し付けください。なおPayPayにも対応しています<br>
            以上が施工終了までの流れとなります。<br>
            それではお次にメニューバーにある料金システムからお客様のお車の料金を算出しましょう。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}